<div class="container">
  <br>
  <form action="/upload/" method="post">
    <fieldset>
      <legend> upload photo </legend>
      	<input type="file" name="image" accept="image/*">
  		<input type="submit"value="upload">
	</fieldset>
  </form>
  <br>
 <%= @user %>
 <%= @album %>
</div>